$success-light: #63ad5e;
$success: #4bb543;
$success-dark: #28b01e;

$warning-light: #ffd736;
$warning: #ffcc00;
$warning-dark: #e6b800;

$danger-light: #ff3838;
$danger: #ff0e0e;
$danger-dark: #db0000;

$black: #000000;
$charcoal: #1b1b1c;
$dark-gray: #313335;
$medium-gray: #b2b2b2;
$light-gray: #f4f4f4;
$white: #ffffff;
