@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700&display=swap");

$SourceSansPro: "Source Sans 3", sans-serif;

@font-face {
  font-family: "didot"; /*a name to be used later*/
  src: url("https://morningtonpros.com.au/uploads/2023/11/didot.ttf"); /*URL to font*/
}
